.heatmapContainer {
  display: flex;
  flex-direction: column;
  max-width: 100dvw;
  overflow-x: auto;
  padding: 1rem 0;
  position: relative;
  padding: 0 1rem;
  background-color: #f6f8fa;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  border: 1px solid #e1e4e8;
  margin: 1rem;
}

.heatmap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.dayLabels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #586069;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.dayLabel {
  width: 0.875rem;
  height: 0.875rem;
  margin: 0.0625rem;
  font-size: 0.75rem;
  color: #586069;
  background-color: #f6f8fa;
  border-radius: 25%;
  border: 1px solid #586069;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.calendarWrapper {
  position: relative;
  overflow: hidden;
}

.grid {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #d1d5da #f6f8fa;
  position: relative;
  padding-top: 20px;
}

.grid::-webkit-scrollbar {
  height: 6px;
}

.grid::-webkit-scrollbar-track {
  background: #f6f8fa;
  border-radius: 3px;
}

.grid::-webkit-scrollbar-thumb {
  background-color: #d1d5da;
  border-radius: 3px;
}

.week {
  display: flex;
  flex-direction: column;
  position: relative;
}

.day {
  width: 0.875rem;
  height: 0.875rem;
  margin: 0.0625rem;
  border-radius: 0.125rem;
  transition: transform 0.2s ease;
  position: relative;
}

.day:hover {
  transform: scale(1.15);
  cursor: pointer;
  box-shadow: 0 0 0.25rem rgba(27, 31, 35, 0.25);
}

.today {
  border: 2px solid #0366d6;
  box-shadow: 0 0 0 1px rgba(3, 102, 214, 0.3);
  z-index: 1;
  position: relative;
  animation: pulse 2s infinite;
}

/* Style pour le premier jour du mois */
.monthStart {
  border-top: 2px solid #586069;
  position: relative;
}

/* Affichage du nom du mois */
.monthStart::before {
  content: attr(data-month);
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.75rem;
  color: #586069;
  font-weight: 500;
  white-space: nowrap;
  background-color: white;
  padding: 0 2px;
  border-radius: 2px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(3, 102, 214, 0.7);
  }
  70% {
    box-shadow: 0 0 0 5px rgba(3, 102, 214, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(3, 102, 214, 0);
  }
}

.footer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.legend {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.75rem;
  color: #586069;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.75rem;
  color: #586069;
  min-height: 1.2rem;
}

.legendItem {
  width: 0.875rem;
  height: 0.875rem;
  margin: 0 0.25rem;
  border-radius: 0.125rem;
}
