.container {
  display: flex;
  flex-direction: column;
  background-color: #f9fafc;
}

.main {
  flex: 1;
  padding: 5px;
}

.statsHeader {
  padding: 10px;
}

.statsSection {
  margin-bottom: 2rem;
}

.cardGrid {
  display: grid;
  gap: 1.5rem;
}